---
import Layout from "../../../layouts/Layout.astro";
import profile from "../../../lang/es/profile";
import SectionTitle from "../../../components/common/SectionTitle.astro";
import project from "../../../lang/es/projects"
import Project from "../../../components/projects/Project.astro";
---
<Layout lang="es" page_title="Proyectos" profile={profile}>
    <div class="flex flex-col w-full h-full gap-5">
        <div class="text-2xl sm:text-4xl lg:text-5xl xl:text-6xl"><SectionTitle title="Proyectos" /></div>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 px-2">
            {project.map((project) => (
                <Project project={project} />
            ))}
        </div>
    </div>
</Layout>