---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets';
interface Props{
    images: ImageMetadata[]
}
const {images}:Props = Astro.props;
---
<div id="default-carousel" class="relative w-full xl:h-fit h-full" data-carousel="slide">
    <div class="relative h-56 overflow-hidden rounded-lg sm:h-96 lg:h-[420px] xl:h-[600px] xl:w-full">
        {images.map((image) => (
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <Image src={image} width={1920} height={1080} class="absolute block sm:h-96 lg:h-[420px] w-full h-full xl:w-[1200px] xl:h-[600px] -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..."/>
            </div>
        ))}
    </div>
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        {images.map((index) => (
            <button type="button" class="w-3 h-3 rounded-full dark:bg-white dark:hover:bg-gray-500" aria-current="true" aria-label="Slide 1" data-carousel-slide-to={index}></button>
        ))}
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center outline-none w-10 h-10 rounded-full bg-white/30 dark:bg-gray-200/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60">
            <svg class="w-4 h-4 text-indigo-300 dark:text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center outline-none justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-200/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60">
            <svg class="w-4 h-4 text-indigo-300 dark:text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
