---
import GridItems from "../../assets/svg/astro/GridItems.astro";
import ListItems from "../../assets/svg/astro/ListItems.astro";
---
<div class="flex flex-row items-center gap-2">
    <button>
        <figure class="w-6 h-6">
            <GridItems/>
        </figure>
    </button>
    <button>
        <figure class="w-5 h-5">
            <ListItems/>
        </figure>
    </button>
</div>